<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <img class="logo2" slot="start" src="../assets/img/ICONO_ISOTIPO_72DPI (1).png">
    <ion-title>O'Clock</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="centrado">
    <ion-text class="centradoCalendario">
      <img class="logo3" src="../assets/img/ICONO_ISOTIPO_72DPI (1).png">
      <h1>Disponibilidad de horas día: </h1>
    </ion-text>

  </div>

  <div >
    <ion-list >
      <ion-item class="centrado">
        <ion-label>10:00 - 11:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>11:00 - 12:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>12:00 - 13:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>13:00 - 14:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>14:00 - 15:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>15:00 - 16:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>16:00 - 17:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>17:00 - 18:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>18:00 - 19:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>19:00 - 20:00</ion-label>
      </ion-item>
      <ion-item class="centrado">
        <ion-label>20:00 - 21:00</ion-label>
      </ion-item>
    </ion-list>
  </div>

  <div class="centradoBoton">
    <ion-button [routerLink]="'/disponibilidad-dia'" fill="outline" color="light">
      <ion-icon slot="start" name="arrow-back-circle-outline"></ion-icon>Volver
    </ion-button>

  </div> 

</ion-content>
