.centrado{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    }

.centradoCalendario{
    text-align: center;
}

.color1{
    background-color: #ffffff;
    color: #a0a0a0;
}

.logo1{
    width: 50px;
    height: 50px;
}